<h1> Editing Tweet</h1>
<%= render 'form' %>
<!-- @tweet comes from our before action in the controller -->
<%= link_to "Show this Tweet", @tweet, class: "btn btn-sm btn-default" %>
<%= link_to "See All The Tweets", tweets_path, class: "btn btn-sm btn-default" %>

